//
// Mixins
// --------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


// Font smoothing - http://maxvoltar.com/archive/-webkit-font-smoothing
// ------------------

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}


// Webkit-style focus
// ------------------
@mixin tabFocus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}


// Borders
// -------------------------

%bordered {
  border-top: 1px solid $border-color;
}


// Font Face
// -------------------------

@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style : normal, $font-stretch: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$font-filename}.eot');
    src: url('../fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$font-filename}.woff') format('woff'),
    url('../fonts/#{$font-filename}.ttf') format('truetype'),
    url('../fonts/#{$font-filename}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}